.flowSlider {
  padding: 0 60px 60px 60px;
}

.flowSlider .flowTitle {
  padding: 12px 0 16px 4px;
}

.flowSlider .flowContent .flowItems .flowItem img {
  width: 100%;
}

:root {
  --flow-control-width: 60px;
  --flow-control-offset: -60px;
}

.flowSlider .flowControl {
  width: var(--flow-control-width);
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
}

.flowSlider .flowControl:hover {
  opacity: 0.8;
}

.flowSlider .flowPrev {
  left: var(--flow-control-offset);
}

.flowSlider .flowContent:hover .flowControl {
  opacity: 1;
}

.flowSlider .flowContent:hover .flowPrev {
  left: var(--flow-control-offset);
}

.flowSlider .flowNext {
  right: var(--flow-control-offset);
}

.flowSlider .flowContent:hover .flowNext {
  right: var(--flow-control-offset);
}
